@{
    ViewBag.Title = "Index";
}
<div id="dvLoader" class=" aletr" style="display:none">
    Loading...<img src="~/Content/images/ajax-loader.gif" />
</div>
<section>
    <div class="well bs-component">
        <br />
        <div class="row">
            @using (Ajax.BeginForm("InsertUpdate", "User",
            new AjaxOptions
            {
                LoadingElementId = "dvLoader",
                OnSuccess = "fnSuccess",
                OnFailure = "fnError",
            }, new { @id = "CatForm" }))
            {
                @Html.AntiForgeryToken()
                @Html.Hidden("Id", 0)
                <div class="form-group">
                    <label>Name:</label>
                    <input type="text" name="Name" class="form-control" id="Name" data-validation="required" data-validation-error-msg="This name is required">
                </div>
                <div class="form-group">
                    <label>Description</label>
                    <textarea class="form-control" name="Description" id="Description" rows="3"></textarea>
                </div>
                <button type="button" id="btnSave" class="btn btn-default" onclick="fnInsert()">Submit</button>
            }
        </div>
    </div>
</section>
<section>
    <div class="well bs-component">
        <br />
        <div class="row">
            <div>
                <table class="table table-striped table-bordered table-hover" id="tblUser" cellspacing="0" align="center" width="100%">
                    <thead>
                        <tr>
                            <th>Action</th>
                            <th>Name</th>
                            <th>Desription</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</section>

@section scripts {
    <script>
    $(document).ready(function () {
        dataBind();
    });

    function dataBind() {
        $('#tblUser').DataTable({
            "destroy": true,
            "processing": true,
            "serverSide": false,
            "filter": true,
            "orderMulti": false,
            "pageLength": 10,
            "ajax": {
                "url": "@Url.Action("GetCategory", "User")",
                "type": "POST",
                "datatype": "json"
            },
            "columns": [
                {
                    "render": function (data, type, full, meta) {
                        return "<a class='btn btn-info' onclick='fnEditData(" + JSON.stringify(full) + ")'>Edit</a> | <a class='btn btn-info' onclick='fnDeleteData(" + full.Id + ")' > Delete</a>";
                    }
                },
                { "data": "Name" },
                { "data": "Description" }
            ]
        });
    }

    function fnInsert() {
        if ($('#CatForm').isValid()) {
            $('#CatForm').submit();
        }
    }
    function fnSuccess(response) {
        if (response.aaData > 0) {
            dataBind();
            $('#CatForm')[0].reset();
            $('#btnSave').text('Submit');
        }
    }
    function fnError(response) {
        alert(response);
    }


    function fnEditData(item) {
        $('#Name').val(item.Name);
        $('#Description').val(item.Description);
        $('#Id').val(item.Id);
        $('#btnSave').text('Update');
    }

        function fnDeleteData(cid) {
            if (confirm("Are u sure you want delete?")) {
                var data = { id: cid };
                $.post('@Url.Action("Delete","User")', data, function (res) {
                    if (res.aaData === 1) {
                        dataBind();
                    }
                });
            }
    }
    </script>
}